body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #606060;
    --second-color: #353535;
    --third-color: black;
    --fourth-color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

/* This is navigation bar */

.navigation{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--fourth-color);
}

.navigation ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

.navigation ul li a{
   text-decoration: none;
   color: var(--third-color);
   text-transform: uppercase;
   font-weight: 500;
}

.navigation ul li a:hover{
  border-bottom-style: solid;
  border-color: var(--primary-color);
  padding-bottom: 5px;
  color: var(--primary-color);
 }

 /* this is header section */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

header .head-image{
    height: 450px;
    width: auto;
    border-radius: 200px;
    margin-right: 10rem;
}

header .head-content{
    text-align: center;
}

header .head-content p{
    font-size: 18px;
    margin-bottom: -20px;
}

header .head-content h1{
    font-size: 2.5rem;
    margin-bottom: -15px;
}

header .head-content h3{
    font-size: 1.5rem;
    color: var(--primary-color);
}

header .head-content .btn{
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid var(--third-color);
    background-color: transparent;
    font-size: 1rem;
}

header .head-content .btn:nth-child(odd){
   background-color: var(--primary-color);
   border: none;
   color: var(--fourth-color);
   margin-left: 40px;
}

header .head-content .btn:hover{
    background-color: var(--third-color);
    transition: background-color 1s ease;
    color: var(--fourth-color);
}

header .head-content i{
   font-size: 32px;
   margin: 20px 10px;
   /* color: var(--primary-color); */
}

/* this is main section */
/* main about */
section .heading-sec p{
    font-size: 14px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 100px;
}

section .heading-sec h1{
    font-size: 42px;
    color: var(--third-color);
    margin-top: -18px;
    text-align: center;
    margin-bottom: 100px;
}

.about-content .content1{
    border: 1px solid var(--third-color);
    display: inline-block;
    padding: 25px 100px;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
}

.about-content .content1 i{
    font-size: 30px;
}

.about-content .content1 p{
    font-size: 14px;
    color: var(--primary-color);
}

.about-content .content1 h2{
    font-size: 24px;
    color: var(--third-color);
}

.about-content .content2{
    border: 1px solid var(--third-color);
    display: inline-block;
    padding: 25px 100px;
    border-radius: 20px;
    text-align: center;
}

.about-content .content2 i{
    font-size: 30px;
}

.about-content .content2 p{
    font-size: 14px;
    color: var(--primary-color);
}

.about-content .content2 h2{
    font-size: 24px;
    color: var(--third-color);
}

section .about-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .about-image{
    width: 350px;
    height: 400px;
    background-color: var(--second-color);
    border-radius: 50px;
    margin-right: 50px;
}

/* this is experience section */
.prog1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prog1:nth-child(even){
    margin-right: 80px;
}

.prog1 i{
    font-size: 20px;
    margin-right: 15px;
}

.prog1 .pg1 h5{
    font-size: 18px;
}

.prog1 .pg1 p{
    font-size: 14px;
    margin-top: -20px;
}

.prog{
    display: flex;
    flex-flow: column wrap;
}

.prograss{
    display: inline-flex;
    border: 1px solid var(--third-color);
    padding: 20px 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}